# バージョン管理システム
.git
.gitignore

# 依存関係
node_modules

# ビルド出力
build
dist

# キャッシュ
.cache
*.log

# 開発環境固有のファイル
.env*
!.env.example

# テストファイル
__tests__
*.test.js
*.spec.js

# ドキュメント
README.md
CHANGELOG.md

# デバッグファイル
npm-debug.log
yarn-error.log

# OS生成ファイル
.DS_Store
Thumbs.db

# エディタ設定ファイル
.vscode
.idea

# その他の不要なファイル
*.swp
*.swo