.calendar-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #4a90e2;
  border-radius: 10px;
  color: white;
  height: 100px;
  position: relative;
}

.date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
}

.date-label {
  font-size: 1.0rem;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  letter-spacing: 5px;
}

.date {
  display: flex;
  align-items: baseline;
}

.date-month-day {
  font-size: 3.0rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 10px;
}

.date-weekday {
  font-size: 1.5rem;
  margin-left: 10px;
}

.main-calendar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: "M PLUS 1p", sans-serif;
}

.calendar-container {
  flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

.calendar-container::-webkit-scrollbar {
  width: 8px;
}

.calendar-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.calendar-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.calendar-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}